<div class="header row mt-2 align-items-center">
    <div class="col-1 mt-5">
        <app-section-pointer [isSubSection]="false"></app-section-pointer>
    </div>
    <div class="col-4 d-flex flex-column">
        <h3>Alen Nikolov</h3>
        <div class="sub-title">Senior Frontend Developer</div>
        <div>
            Frontend Developer with six years of professional experience in
            building robust and scalable front-end web applications and a strong
            background in mentoring people and customer relations
        </div>
    </div>
    <div class="col-3">
        <img class="picture" src="/assets/img/alen.jpg" alt="Alen Nikolov" />
    </div>
    <div class="col-4 d-flex align-items-end flex-column">
        <div class="mb-2">
            alennikolov95&#64;gmail.com
            <fa-icon class="mx-2" [icon]="faEnvelope"></fa-icon>
        </div>
        <div class="mb-2">
            +359 988 797 665
            <fa-icon class="mx-2" [icon]="faPhoneAlt"></fa-icon>
        </div>
        <div class="mb-2">
            Sofia, Bulgaria
            <fa-icon class="mx-2" [icon]="faAdress"></fa-icon>
        </div>
        <div class="mb-2 linkedin-account d-flex align-items-center">
            <a href="https://www.linkedin.com/in/alen-nikolov-frontend-dev"
                >linkedin.com/in/<br />alen-nikolov-frontend-dev
            </a>
            <fa-icon class="mx-2" [icon]="faLinkedIn"></fa-icon>
        </div>
    </div>
</div>
