.sub-title {
    font-size: 18px;
}

.italic {
    font-style: italic;
}

.turquoise {
    color: #449399;
}

.achievements {
    font-size: 12px;
}

.bullet-points {
    margin-left: -20px;
    font-size: 12px;
    li {
        margin-right: 20px;
    }
    li::marker {
        color: #449399;
    }

    &.columns {
        columns: 2;
    }
}
